USE [Spotify]
GO
/****** Object:  Table [dbo].[classical_todo]    Script Date: 28/05/2025 8:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[classical_todo](
	[nombre] [nvarchar](max) NOT NULL,
	[popularidad] [tinyint] NOT NULL,
	[genero] [nvarchar](max) NOT NULL,
	[cantidad_albumes] [tinyint] NOT NULL,
	[mejor_pista] [nvarchar](max) NOT NULL,
	[album_mejor_pista] [nvarchar](max) NOT NULL,
	[año_mejor_pista] [smallint] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[metal_todo]    Script Date: 28/05/2025 8:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[metal_todo](
	[nombre] [nvarchar](50) NOT NULL,
	[popularidad] [tinyint] NOT NULL,
	[genero] [nvarchar](50) NOT NULL,
	[cantidad_albumes] [tinyint] NOT NULL,
	[mejor_pista] [nvarchar](100) NOT NULL,
	[album_mejor_pista] [nvarchar](100) NOT NULL,
	[año_mejor_pista] [smallint] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pop_todo]    Script Date: 28/05/2025 8:35:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pop_todo](
	[nombre] [nvarchar](50) NOT NULL,
	[popularidad] [tinyint] NOT NULL,
	[genero] [nvarchar](50) NOT NULL,
	[cantidad_albumes] [tinyint] NOT NULL,
	[mejor_pista] [nvarchar](100) NOT NULL,
	[album_mejor_pista] [nvarchar](100) NOT NULL,
	[año_mejor_pista] [smallint] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[classical_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'Ludovico Einaudi', 79, N'neoclassical', 46, N'Experience', N'In A Time Lapse', 2013)
INSERT [dbo].[classical_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'Ludovico Einaudi', 79, N'classical', 46, N'Experience', N'In A Time Lapse', 2013)
INSERT [dbo].[classical_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'Johann Sebastian Bach', 78, N'classical', 50, N'Cello Suite No. 1 in G Major, BWV 1007: I. Prélude', N'Bach: Cello Suites Nos. 1, 5 & 6', 1983)
GO
INSERT [dbo].[metal_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'TATOOL', 63, N'argentine trap', 0, N'Mamichula - con Nicki Nicole', N'Atrevido', 2020)
INSERT [dbo].[metal_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'T&K', 53, N'boom bap', 5, N'Habrá', N'1993: The Lost Tapes', 2017)
INSERT [dbo].[metal_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'T&K', 53, N'latin hip hop', 5, N'Habrá', N'1993: The Lost Tapes', 2017)
GO
INSERT [dbo].[pop_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'Pinky SD', 77, N'cuarteto', 41, N'Si No Es Muy Tarde - Versión Cumbia', N'Si No Es Muy Tarde - Versión Cumbia', 2025)
INSERT [dbo].[pop_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'Pinky SD', 77, N'cumbia', 41, N'Si No Es Muy Tarde - Versión Cumbia', N'Si No Es Muy Tarde - Versión Cumbia', 2025)
INSERT [dbo].[pop_todo] ([nombre], [popularidad], [genero], [cantidad_albumes], [mejor_pista], [album_mejor_pista], [año_mejor_pista]) VALUES (N'Emilia', 79, N'argentine trap', 3, N'blackout 🧊', N'blackout 🧊', 2025)
GO
